<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Helpers">
		<classes>
			<class name="com.orbitalforge.hikari.dbm.test.db.HelpersTest" />
		</classes>
	</test> <!-- Test -->
	<test name="SQL Generation">
		<classes>
			<class name="com.orbitalforge.hikari.dbm.test.platform.IdentifierTest" />
			<class name="com.orbitalforge.hikari.dbm.test.platform.ConstraintGenerationTest" />
			<class name="com.orbitalforge.hikari.dbm.test.platform.ColumnGenerationTest" />
		</classes>
	</test>
</suite> <!-- Suite -->
